@import "reset.scss";
@import "vars.scss";
@import "base.scss";


/* General */
.body {
    font: {
        family: $font-family;
        weight: 300;
    }
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

/* Header */
.nav-container {
    font-family: $font-family;
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between;
}

.logo-heading {
    color: $primary;
    font: {
        size: 2.1rem;
        weight: 700;
    }
}

.list-link {
    color: rgba(102, 102, 102, 0.6);
    text-decoration: none;
    font: {
        size: 1.08rem;
        weight: bold;
    }
    &:hover, &.active {
        color: rgb(0, 0, 0);
    }
}

.nav-list {
    display: flex;
    .list-item {
        margin-left: 1.4rem;
        text-transform: uppercase;
    }
    li::before {
        content: "//";
        padding: 1em 1.5em;
        font-weight: 700;
        color: rgba(0,0,0,.6);
    }
}

/* Banner */
.banner-container {
    padding: 15em 0em;
    background-image: url('../media/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Second section */
.box-container {
    display: grid;
    grid-template-columns: minmax(12rem, 28rem) minmax(12rem, 28rem) minmax(12rem, 28rem);
    grid-gap: 1.5rem;
    justify-content: space-evenly;
    padding: 0 6rem;
    margin: 4rem 0 10rem 0;
    .box-parent {
        .box-heading-h3 {
            font: {
                size: 1.8rem;
            }
            color: $primary;
            text-align: center;
            margin: 2rem 0;
        }
        .box-child {
           background-color: $primary;
           .box-image {
                width: 100%;
            }
            .box-text {
                display: block;
                font: {
                    size: 1.3rem;
                    weight: 600;
                }
                color: white;              
                text-align: center;
                text-transform: uppercase;
                padding: 3rem 2rem;
            }
        }
        .box-text2 {
            padding: 2.5rem 2rem;
            text-align: center;
            border-top: 0.1px solid rgb(173, 172, 172);
            margin-top: 2rem;
        }
        .box-btn {
            margin: 0 auto;
            color: #fff;
            padding: 1rem 2rem;
            background-color: $primary;
            text-transform: uppercase;
            text-align: center;
            border: none;
            letter-spacing: 0.1rem;
        }
    }
}

/* Feautrd section */
.featured-container {
    padding: 4rem 2rem;
    border-top: 0.1px solid rgb(173, 172, 172);
    margin-top: 6rem;
    .first-item {
        float: left;
        padding: 2rem 8rem;
        .icon {
            font-size: 20rem;
            color: $primary;
        }
    }
    .second-item {
        padding: 2rem 0;
        margin-right: 2rem;
        .para-text {
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 3rem;
            padding: 0 5rem;
            .special {
                color: $primary;
                font-weight: 600;
            }
            .fd-link {
                color: $primary;
            &:hover {
                text-decoration: none;
            }
            }
        }
        .featured-btn {
            color: #fff;
            background-color: $primary;
            font-size: 1.3rem;
            letter-spacing: 0.3rem;
            padding: 1.5rem 3rem;
            text-transform: uppercase;
            border: none;
            margin-top: 3rem;
        }
    }
}


/* Footer */
.footer-container {
    padding: 6rem 8rem;
    border-top: 0.1px solid rgb(173, 172, 172);
    .copyright {
        font-size: 1.008rem;
        color: rgb(128, 127, 127);
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        text-align: center;
        .ft-link {
            color: rgb(78, 78, 78);
            text-decoration: none;
        }
    }
}

/* Media */
@media all and (max-width: 768px) {
    .box-container {
        grid-template-columns: 1fr;
    }
}